<div class="col-sm-6">
    <div class="content-area stacked-panel">
        <div class="form-header">
            <div ng-model="project.name" contenteditable id="label-project-name" class="form-content">{{ project.name }}</div>
        </div>
        <div class="form-section">
            <div ng-model="project.description" contenteditable id="label-project-description" class="form-content">{{ project.description }}</div>
        </div>
        <div class="form-section">
            <input type="file" name="file" onchange="angular.element(this).scope().uploadImage(this.files)" />
        </div>
    </div>
    <div class="content-area stacked-panel">
        <div class="form-header">
            <h4 class="form-content">About</h4>
        </div>
        <div class="form-section">
            <div class="form-content">
                <span>Created {{ project.created_at | date }} by {{ permissions[0].user.name }}.</span>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="content-area stacked-panel">
        <div class="form-header form-content">
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">Permissions ({{ getPublic() }}) <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="setPublic(true)">Public</a></li>
                    <li><a ng-click="setPublic(false)">Private</a></li>
                </ul>
            </div>
        </div>
        <div class="form-section">
            <div class="form-content">
                <div id="project-permissions-input" class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                        <ul id="project-permissions-dropdown" class="dropdown-menu">
                            <li ng-repeat="p in permissionTypes">
                                <a href ng-click="setPermission(p)">{{ p }}</a>
                            </li>
                        </ul>
                    </span>
                    <input id="input-project-permission" class="form-control" type="text" placeholder="Email"></input>
                    <span class="input-group-btn">
                        <button id="button-add-project-permission" class="btn btn-default" type="button">+</button>
                    </span>
                </div>
                <div class="form-sub-text">{{ permission.name }}</div>
            </div>
        </div>
        <div class="form-section">
            <div class="form-content">
                <table id="project-permissions-table" class="table table-striped table-hover table-condensed">
                    <tbody id="project-permissions-table-body">
                        <tr ng-repeat="p in permissions">
                            <td class="permissions-assignee-cell">{{ p.user.name }}</td>
                            <td class="permissions-remove-cell fit-width"><span class="glyphicon glyphicon-ban-circle"></span></td>
                            <td class="permissions-level-cell fit-width">{{ p.type }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>