<div class="col-xs-12 padded-column">
    <div class="content-area stacked-panel">
        <table class="project-table table table-striped table-hover">
            <tr ng-repeat="project in projects" class="project-row" ui-sref="projects.single.show({projectId: project.id})">
                <td class="thumbnail-cell">
                    <div class="thumbnail-container">
                        <img ng-src="{{ project.image_url.thumb }}" />
                    </div>
                </td>
                <td class="project-cell">
                    <div class="project-cell-content">
                        <h4>{{ project.name }}</h4>
                        <blockquote>{{ project.description }}</blockquote>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>