<div class="col-xs-12 padded-column">
    <div class="content-area stacked-panel">
        <table class="project-table table table-striped table-hover">
            <tr ng-repeat="project in projects" class="project-row">
                <td class="project-cell">
                    <a ui-sref="projects.single.show({projectId: project.id})" class="no-link-style">
                        <div class="project-cell-content">
                            <h4>{{ project.name }}</h4>
                            <p>{{ project.description }}</p>
                        </div>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>