<div class="container-fluid">
    <div class="row-fluid">
        <div class="jumbotron">
            <div class="media">
                <span class="pull-right">
                    <logo></logo>
                </span>
                <div class="media-body">
                    <h1 class="media-heading">Bugtracker</h1>
                    <p>Hi, and welcome to Bugtracker! A bug tracking systems that strives to thoroughly track bugs.</p>
                    <button id="get-started-button" ng-click="clickGetStarted()" class="btn btn-primary btn-lg" type="button">Get started</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div flash-alert active-class="in" class="alert slide" duration="3000">
    <button type="button" class="close" ng-click="hide()">&times;</button>
    <span class="alert-message">{{flash.message}}</span>
</div>