[contenteditable] {
  position: relative;
  padding: 4px 24px 4px 4px;
  border: 1px dashed $border-light-color;

  &:focus {
    &:after {
      opacity: 1;
    }
  }

  &:not(:hover):not(:focus) {
    border-color: transparent !important;
  }

  &:after {
    position: absolute;
    top: 4px;
    right: 0;
    margin-right: 4px;

    opacity: 0.2;
    color: rgb(51, 51, 51);

    line-height: inherit;
    font-family: 'Glyphicons Halflings';
    font-size: 14px;

    content: '\270f';
    pointer-events: none;
  }
}
