logo {
    display: block;
    height: 100%;
    width: 100%;

    &:hover {
        .face {
            fill: $logo-left;
        }
    }

    .face {
        @include transition(fill 0.3s ease-in-out);
    }

    .face-left {
        fill: $logo-left;
    }
    .face-right {
        fill: $logo-right;
    }
    .face-top {
        fill: $logo-top;
    }
}