@import "../manifest";


.container-no-bugs {
    .msg-no-bugs {
        color: #666666;
    }
    .btn-create-bug {
        background-color: $green-faded-active;
        border-color: $green-faded-active-dark;
        color: #FFFFFF;
    }
}