@import "../manifest";


#bug-sidebar-container {
    position: fixed;
    width: 220px;
    height: 100%;
    padding: 10px 25px;

    border-width: 0 1px 0 0;

    .sidebar {
        .sidebar-grouping {
            h4 {
                margin-bottom: 3px;

                font-size: 12px;
                font-weight: 500;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: $green-active-dark;

                .glyphicon {
                    margin-right: 1em;
                }
            }

            ul {
                font-size: 11px;
                line-height: 14px;
                text-transform: uppercase;
                color: #888888;

                label {
                    width: 100%;
                    margin: 0;
                    padding: 3px 8px;

                    font-weight: 400;

                    cursor: pointer;
                }

                input {
                    display: none;
                }

                input:checked + label {
                    background-color: $green-faded-active;
                    color: #FFFFFF;
                }
            }
        }

        .sidebar-grouping-divider {
            height: 1px;

            background-color: #DEDEDE;
        }
    }
}

#bug-list-container {
    width: calc(100% - 220px);
    margin-left: auto;

    .table-container {
        height: 100%;

        .bug-row {
            cursor: pointer;
        }
    }

    .container-no-bugs {
        .msg-no-bugs {
            color: #666666;
        }
        .btn-create-bug {
            background-color: $green-faded-active;
            border-color: $green-faded-active-dark;
            color: #FFFFFF;
        }
    }
}