$sidebar-header-text-color: #BBBBBB;
$sidebar-text-color: #888888;
$sidebar-grouping-divider-color: #DEDEDE;
$sidebar-item-selected-text-color: #FFFFFF;

$sort-marker-text-color: #AAAAAA;

#bug-sidebar-container {
  position: fixed;
  width: 220px;
  height: 100%;
  padding: 10px 25px;

  border-width: 0 1px 0 0;

  .sidebar {
    .sidebar-header {
      p {
        color: $sidebar-header-text-color;

        font-size: 12px;
      }
    }

    .sidebar-grouping {
      margin: 10px 0;

      .create-bug-btn {
        width: 100%;
        margin-bottom: 5px;
      }

      h4 {
        margin-bottom: 3px;

        color: $green-active-dark;

        letter-spacing: 1px;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;

        .glyphicon {
          margin-right: 1em;
        }
      }

      ul {
        margin: 0;

        color: $sidebar-text-color;

        line-height: 14px;
        font-size: 11px;
        text-transform: uppercase;

        label {
          width: 100%;
          margin: 0;
          padding: 3px 8px;

          font-weight: 400;

          cursor: pointer;
        }

        input {
          display: none;
        }

        input:checked + label {
          background-color: $green-faded-active;
          color: $sidebar-item-selected-text-color;
        }
      }
    }

    .sidebar-grouping-divider {
      height: 1px;

      background-color: $sidebar-grouping-divider-color;
    }
  }
}


$bug-id-cell-width: 60px;
$bug-assignee-cell-width: 96px;
$bug-priority-cell-width: 84px;
$bug-status-cell-width: 84px;

#bug-list-container {
  height: inherit;
  margin-left: 220px;
  padding: 10px 15px;

  > div {
    height: inherit;
  }

  .table-container {
    max-height: 100%;
    margin: 0;

    thead,
    tbody {
      display: block;
      width: 100%;
    }

    thead {
      height: 38px;
    }

    tbody {
      overflow: auto;
      height: 100%;

      border-bottom: 1px solid $border-light-color;
    }

    tr {
      display: block;
      width: 100%;

      font-size: 0;

      &:last-child > td {
        border-bottom: 0;
      }

      td,
      th {
        @include box-sizing(border-box);

        display: inline-block !important;

        line-height: 20px;
        font-size: 14px;
      }

      th {
        @include user-select(none);

        .sort-marker {
          color: $sort-marker-text-color;

          font-weight: 100;
        }
      }

      td {
        height: 37px;
      }
    }

    .bug-id-cell,
    .bug-id-header-cell {
      width: $bug-id-cell-width;
    }

    .bug-summary-cell,
    .bug-summary-header-cell {
      width: calc(100% - (#{$bug-id-cell-width + $bug-assignee-cell-width + $bug-priority-cell-width + $bug-status-cell-width}));
    }

    .bug-assignee-cell,
    .bug-assignee-header-cell {
      width: $bug-assignee-cell-width;
    }

    .bug-priority-cell,
    .bug-priority-header-cell {
      width: $bug-priority-cell-width;
    }

    .bug-status-cell,
    .bug-status-header-cell {
      width: $bug-status-cell-width;
    }
  }
}

#container-no-bugs {
  margin-left: auto;
  margin-right: auto;
  padding: 48px 24px;
}

@media (max-width:767px) {
  #bug-sidebar-container {
    display: none;
  }

  #bug-list-container {
    margin-left: auto;
  }
}
