<div class="session-container container content-area">
    <div class="session-header row">
        <div class="col-sm-6 col-xs-12">
            <h3>Existing User</h3>
        </div>
        <div class="col-sm-6 hidden-xs">
            <h3>Create Account</h3>
        </div>
    </div>

    <div class="session-content row">
        <form id="session-panel" class="form-panel col-sm-6 col-xs-12">
            <div class="form-row-email form-row">
                <label for="field-login-email" class="field-label">
                    <span class="glyphicon glyphicon-envelope"></span>
                    <span>Email Address</span>
                </label>
                <input ng-model="credentials.email" id="field-login-email" class="form-control" type="email" placeholder="Email"></input>
            </div>
            <div class="form-row-password form-row">
                <label for="field-login-password" class="field-label">
                    <span class="glyphicon glyphicon-asterisk"></span>
                    <span>Password</span>
                </label>
                <input ng-model="credentials.password" id="field-login-password" class="form-control" type="password" placeholder="Password"></input>
            </div>
            <div class="form-row-login-submit form-row">
                <button ng-click="loginAttempt()" class="btn-login btn btn-default" type="submit">Login</button>
                <div class="checkbox-remember-me checkbox">
                    <label>
                        <input ng-model="credentials.rememberMe" type="checkbox"></input>
                        <span>Remember me</span>
                    </label>
                </div>
            </div>
        </form>

        <div id="signup-panel" class="form-panel col-sm-6 col-xs-12">
            <div class="form-row-signup-submit form-row">
                <button ui-sref="users.new" class="btn-signup btn btn-default">Sign Up</button>
            </div>
        </div>

        <div class="panel-divider absolute-center hidden-xs">
            <div class="vertical-line"></div>
            <span class="or-text no-select">OR</span>
        </div>
    </div>

    <div flash-alert active-class="in" class="alert slide" duration="3000">
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message">{{flash.message}}</span>
    </div>
</div>