<div class="session-container container content-area">
    <div class="session-header row">
        <div class="col-xs-12">
            <h3>Sign Up</h3>
        </div>
    </div>

    <div class="session-content row">
        <div id="session-panel" class="form-panel col-xs-12">
            <div class="form-row-email form-row">
                <label for="field-signup-email" class="field-label">
                    <span class="glyphicon glyphicon-envelope"></span>
                    Email Address
                </label>
                <input id="field-signup-email" class="form-control" name="user[email]" type="email" placeholder="Email"></input>
            </div>
            <div class="form-row-name form-row">
                <label for="field-signup-name" class="field-label">
                    <span class="glyphicon glyphicon-user"></span>
                    Full Name
                </label>
                <input id="field-signup-name" class="form-control" name="user[name]" type="text" placeholder="Name"></input>
            </div>
            <div class="form-row-password form-row">
                <label for="field-signup-password" class="field-label">
                    <span class="glyphicon glyphicon-asterisk"></span>
                    Password
                </label>
                <input id="field-signup-password" class="form-control" name="user[password]" type="password" placeholder="Password"></input>
            </div>
            <div class="form-row-password-confirm form-row">
                <label for="field-signup-password-confirm" class="field-label">
                    <span class="glyphicon glyphicon-asterisk"></span>
                    Confirm Password
                </label>
                <input id="field-signup-password-confirm" class="form-control" name="user[password_confirmation]" type="password" placeholder="Confirm Password"></input>
            </div>
            <div class="form-row-signup-submit form-row">
                <button class="btn-signup btn btn-default" name="commit" value="save" type="submit">Sign Up</button>
            </div>
        </div>
    </div>

    <div flash-alert active-class="in" class="alert slide" duration="3000">
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="alert-message">{{flash.message}}</span>
    </div>
<div>