<div class="col-sm-6">
    <div class="content-area">
        <div class="form-header">
            <div id="label-project-name" class="form-content editable-label" name="name"><%= @project.name %></div>
        </div>
        <div class="form-section">
            <div id="label-project-description" class="form-content editable-label" name="description"><%= @project.description %></div>
        </div>
    </div>
    <div class="content-area">
        <div class="form-header">
            <h4 class="form-content">About</h4>
        </div>
        <div class="form-section">
            <div class="form-content">
                <span>Created <%= I18n.l(@project.created_at, :format => :long_alt) %> by <%= @project.users.first().name %>.</span>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="content-area">
        <div class="form-header form-content">
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">Permissions (Public) <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a>Public</a></li>
                    <li><a>Private</a></li>
                </ul>
            </div>
        </div>
        <div class="form-section">
            <div class="form-content">
                <div id="project-permissions-input" class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                        <ul id="project-permissions-dropdown" class="dropdown-menu"></ul>
                    </span>
                    <input id="input-project-permission" class="form-control" type="text" placeholder="Email"></input>
                    <span class="input-group-btn">
                        <button id="button-add-project-permission" class="btn btn-default" type="button">+</button>
                    </span>
                </div>
                <div class="form-sub-text">Developer</div>
            </div>
        </div>
        <div class="form-section">
            <div class="form-content">
                <table id="project-permissions-table" class="table table-striped table-hover table-condensed">
                    <tbody id="project-permissions-table-body"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>