<div class="col-xs-12">
    <table class="project-table table table-striped table-hover">
        <% @projects.each do |project| %>
            <tr class="project-row">
                <td class="project-cell"><a class="no-link-style" href="<%= project_bugs_path(project) %>">
                    <div class="project-cell-content">
                        <h4><%= project.name %></h4>
                        <p><%= project.description %></p>
                    </div>
                </a></td>
            </tr>
        <% end %>
    </table>
</div>