<div class="col-xs-12">
    <%= form_for @project do |f| %>
        <div class="form-group-name form-group">
            <label for="field-project-name" class="field-label">
                Project Name
            </label>
            <input id="field-project-name" class="form-control" name="project[name]" type="text" placeholder="Project"></input>
        </div>
        <div class="form-group-description form-group">
            <label for="field-project-description" class="field-label">
                Description
            </label>
            <textarea id="field-project-description" class="form-control" name="project[description]" rows="3" placeholder="Description"></textarea>
        </div>
     
        <div class="form-group">
            <a class="btn-back btn btn-default" href="<%= projects_path %>">Back</a>
            <button class="btn-create btn btn-default" name="commit" value="save" type="submit">Create</button>
        </div>
    <% end %>
</div>