<tr>
    <td class="permissions-assignee-cell">{{ user.name }}</td>
    <td class="permissions-level-cell fit-width">{{ permission_type.name }}</td>
    <td class="permissions-remove-cell"><span class="glyphicon glyphicon-ban-circle"></span></td>
</tr>