$project-edit-text-color: #000000;

.form-header > * {
  margin: 0 0 5px 0;

  color: $project-edit-text-color;

  font-size: 15px;
  font-weight: 700;

  button {
    padding: 0;
    box-shadow: none !important;

    background: none;
    color: inherit;

    font-size: inherit;
    font-weight: inherit;
  }
}

.form-section {
  margin-bottom: 10px;

  > * {
    font-size: 14px;
    font-weight: 300;
  }
}

.form-sub-text {
  font-size: 12px;
}

.permissions-remove-cell {
  text-align: center;
}

#label-project-description {
  text-align: justify;
}
