$thumbnail-background-color: #FFFFFF;

.project-table {
  .project-row {
    .project-cell {
      padding: 0;

      .project-cell-content {
        padding: 8px;

        h4 {
          margin: 0;
          padding: 4px 0;
        }
      }
    }

    .thumbnail-cell {
      width: 1px;

      .thumbnail-container {
        display: table-cell;
        box-sizing: content-box;
        vertical-align: middle;
        width: 75px;
        height: 75px;
        padding: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: $border-light-color;

        background-color: $thumbnail-background-color;

        img {
          width: inherit;
        }
      }
    }
  }
}
