.project-table {

    .project-row {

        .project-cell {
            padding: 0px;

            .project-cell-content {
                padding: 8px;

                h4 {
                    margin: 0px;
                    padding: 4px 0px;
                }
            }
        }
    }
}