<div class="col-sm-9 col-md-10"></div>
<div class="col-sm-3 col-md-2">
    <div class="list-group">
        <a class="list-group-item active" href="#">Home</a>
        <a class="list-group-item" href="#">Profile</a>
        <a class="list-group-item" href="#">Messages</a>
    </div>
</div>