<% if !@bugs.empty? %>
    <div id="bug-sidebar-container" class="content-area">
        <div class="sidebar no-select">
            <div class="sidebar-header">
                <p>
                    <span>Showing </span>
                    <span class="visible-bug-count">0</span>
                    <span> of </span>
                    <span class="total-bug-count"><%= @bugs.length %></span>
                    <span> bugs</span>
                </p>
            </div>
            <div class="sidebar-grouping">
                <h4><span class="glyphicon glyphicon-tasks"></span>Status</h4>
                <ul class="list-unstyled">
                    <li>
                        <input id="filter-status-assigned" class="bugs-filter-checkbox" type="checkbox" data-filter-type="status" data-filter-value="assigned" />
                        <label for="filter-status-assigned">Assigned</label>
                    </li>
                    <li>
                        <input id="filter-status-investigate" class="bugs-filter-checkbox" type="checkbox" data-filter-type="status" data-filter-value="investigate" />
                        <label for="filter-status-investigate">Investigate</label>
                    </li>
                    <li>
                        <input id="filter-status-resolved" class="bugs-filter-checkbox" type="checkbox" data-filter-type="status" data-filter-value="resolved" />
                        <label for="filter-status-resolved">Resolved</label>
                    </li>
                </ul>
            </div>
            <div class="sidebar-grouping-divider"></div>
            <div class="sidebar-grouping">
                <h4><span class="glyphicon glyphicon-fire"></span>Priority</h4>
                <ul class="list-unstyled">
                    <li>
                        <input id="filter-priority-high" class="bugs-filter-checkbox" type="checkbox" data-filter-type="priority" data-filter-value="high" />
                        <label for="filter-priority-high">High</label>
                    </li>
                    <li>
                        <input id="filter-priority-normal" class="bugs-filter-checkbox" type="checkbox" data-filter-type="priority" data-filter-value="normal" />
                        <label for="filter-priority-normal">Normal</label>
                    </li>
                    <li>
                        <input id="filter-priority-low" class="bugs-filter-checkbox" type="checkbox" data-filter-type="priority" data-filter-value="low" />
                        <label for="filter-priority-low">Low</label>
                    </li>
                </ul>
            </div>
            <div class="sidebar-grouping-divider"></div>
            <div class="sidebar-grouping">
                <h4><span class="glyphicon glyphicon-user"></span>Assignee</h4>
                <ul class="list-unstyled">
                    <li>
                        <input id="filter-assignee-scott" class="bugs-filter-checkbox" type="checkbox" data-filter-type="assignee" data-filter-value="scott" />
                        <label for="filter-assignee-scott">Scott</label>
                    </li>
                    <li>
                        <input id="filter-assignee-rick" class="bugs-filter-checkbox" type="checkbox" data-filter-type="assignee" data-filter-value="rick" />
                        <label for="filter-assignee-rick">Rick</label>
                    </li>
                    <li>
                        <input id="filter-assignee-newman" class="bugs-filter-checkbox" type="checkbox" data-filter-type="assignee" data-filter-value="newman" />
                        <label for="filter-assignee-newman">Newman</label>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="bug-list-container" class="padded-column">
        <div class="table-container content-area">
            <table class="table table-striped table-hover">
                <thead id="bugs-list-table-header">
                    <tr>
                        <th class="bugs-header-cell clickable" data-field="id" data-order=""><span class="fa fa-sort"></span> ID</th>
                        <th class="bugs-header-cell clickable" data-field="summary" data-order=""><span class="fa fa-sort"></span> Summary</th>
                        <th class="bugs-header-cell clickable hidden-xs" data-field="assignee" data-order=""><span class="fa fa-sort"></span> Assignee</th>
                        <th class="bugs-header-cell clickable hidden-xs" data-field="priority" data-order=""><span class="fa fa-sort"></span> Priority</th>
                        <th class="bugs-header-cell clickable hidden-xs" data-field="status" data-order=""><span class="fa fa-sort"></span> Status</th>
                        <th class="bugs-header-cell clickable hidden-xs"></th>
                        <th class="bugs-header-cell clickable hidden-xs"></th>
                    </tr>
                </thead>
                <tbody id="bug-list-table-body"></tbody>
            </table>
        </div>
        <div class="container-none-found">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 col-xs-12 padded-column">
                <div id="container-no-bugs" class="jumbotron content-area text-center">
                    <p class="msg-no-bugs">No bugs found.</p>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
<% else %>
    <div class="col-sm-1"></div>
    <div class="col-sm-10 col-xs-12 padded-column">
        <div id="container-no-bugs" class="jumbotron content-area text-center">
            <p class="msg-no-bugs">You haven't added any bugs yet. Add one now?</p>
            <a class="btn-create-bug btn btn-default" href="<%= new_project_bug_path %>">Create a Bug</a>
        </div>
    </div>
    <div class="col-sm-1"></div>
<% end %>