/*/     MAIN STYLES
 *  Styles set here apply to the entire website, regardless of which layout the
 *  HTML resides within.
/*/


// LAYOUT
html {
  height: 100%;
}

body {
  overflow: hidden;
  height: 100%;

  background-color: $body-background-color;

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

div[ui-view] {
  display: block;
  overflow: auto;
  height: inherit;
}

.container-fluid {
  height: inherit;
  padding-left: 0;
  padding-right: 0;

  .jumbotron {
    border-radius: 0;
  }
}

.row {
  margin: 0;
}

.content-area {
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: $border-medium-color;
  box-shadow: 0px 1px 5px $border-light-color;

  background-color: $content-area-background-color;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }

  p.content-header {
    font-size: 15px;
    font-weight: 700;
  }
}

.form-content {
  padding: 4px;
}

.stacked-panel {
  margin: 10px 0;
}

.padded-column {
  padding: 0 50px;

  @media (max-width: $screen-xs-max) {
    padding: 15px;
  }
}

.absolute-center {
  @include absolute-center();
}

#main-container {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: $navbar-height + $breadcrumb-height;

  > div {
    overflow: auto;
    height: inherit;
  }
}


// ALERTS

.alert {
  box-sizing: border-box;

  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  height: $alert-height;
  margin: 0;
  border-radius: 0;

  &.slide {
    @include transition(bottom 0.3s ease-in-out);

    bottom: -$alert-height;

    opacity: 0;

    &.in {
      bottom: 0;

      opacity: 1;
    }
  }
}

.alert-dismissable {
  padding: 15px 50px;

  text-align: center;

  .close {
    box-sizing: content-box;

    top: 0;
    right: -50px;
    width: 20px;
    height: 20px;
    margin-top: -15px;
    padding: 15px;
  }
}


// BUTTONS

.btn-primary {
  border-color: transparent;

  background-color: $green-faded-active;

  &:hover,
  &:active,
  &:focus {
    border-color: transparent;

    background-color: $green-faded-active-dark;
  }
}

.btn-empty-view {
  border-color: $green-faded-active-dark;

  background-color: $green-faded-active;
  color: $text-lightest-color;
}


// BREADCRUMBS

breadcrumbs {
  display: block;

  .breadcrumb {
    position: relative;
    box-sizing: border-box;
    z-index: 1;
    width: 100%;
    height: $breadcrumb-height;
    margin: 0;
    padding: 4px 15px;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-radius: 0;
    border-color: $border-medium-color;
    box-shadow: 0px 1px 5px $border-light-color;

    > li + li::before {
      padding: 0 0 0 5px;
    }

    &.breadcrumb-positioner {
      position: relative;
      z-index: -1;
      padding: 0;
      border: 0;
    }

    li {
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;

      a {
        color: $green-faded-active;

        &:hover,
        &:active,
        &:focus {
          color: $green-active-dark;

          text-decoration: none;
        }
      }
    }
  }
}


// INPUT

* {
  outline: none !important;

  @include selection(true) {
    background: $selection-color;
  }
}

textarea {
  resize: vertical;
}

input[type="checkbox"] {
  cursor: pointer;
}


// LINKS

*[ui-sref] {
  cursor: pointer;
}

.no-link-style {
  color: $text-darkest-color;

  &:hover {
    color: $text-darkest-color;

    text-decoration: none;
  }
}

.clickable {
  cursor: pointer;
}


// MEDIA

.media {
  > .pull-left {
    margin-right: 25px;
  }

  > .pull-right {
    margin-left: 25px;
  }
}

.logo-isometric-cube {
  height: inherit;
}


// NAVBAR

.navbar {
  position: relative;
  z-index: 2;
  height: $navbar-height;
  margin: 0;
  padding: 0 5px;
  border-width: 0 0 1px 0;
  border-radius: 0;
  border-color: $border-lighter-color;

  background-color: $navbar-background-color;


  &.navbar-positioner {
    position: relative;
    z-index: -1;
  }

  li > a {
    @include transition(color 0.15s ease, background-color 0.15s ease);
  }

  li.active > a {
    background-color: $green-faded-active !important;
    color: $navbar-background-color !important;
  }

  .navbar-header {
    height: 100%;
    margin: 0;

    .navbar-toggle {
      margin-right: 0;
    }

    .navbar-brand {
      height: inherit;
      min-width: 75px;
      padding: 5px 15px;
    }

    .navbar-statistics {
      position: absolute;
      top: 0;
      bottom: 0;
      left: $navbar-height;
      right: $navbar-height;

      line-height: $navbar-height;
      color: $text-dark-color;

      cursor: default;
    }
  }

  .navbar-collapse {
    @media (max-width: 767px) {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      box-shadow: 0px 1px 5px $border-light-color;

      background-color: $navbar-background-color;
    }
  }
}


// TABLES

table.table {
  margin: 0;

  tbody {
    border-style: solid;
    border-width: 0 1px;
    border-color: $border-light-color;

    tr {
      border-color: $border-light-color;

      &:last-child > td {
        border-bottom: 1px solid $border-light-color;
      }

      td {
        border-color: $border-light-color;

        &.fit-width {
          width: 1px;
        }
      }
    }
  }
}

table.table-hover > tbody > tr:hover > td,
table.table-hover > tbody > tr:hover > th {
  background-color: $green-faded-active-light;
}


// TEXT

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

label {
  cursor: pointer;
}

.text-empty-view {
  color: $text-dark-color;
}

.no-select {
  @include user-select(none);

  cursor: default;
}
