//---- NAVIGATION BARS ----//
$navbar-height: 52px;
$breadcrumb-height: 30px;
$alert-height: 50px;

//---- THUMBNAILS ----//
$thumbnail-small-size: 68px;

//---- COLORS ----//
// PALETTE
$grey-palette:    #FFFFFF #EBEBEB #DDDDDD #CCCCCC #999999 #666666 #000000;
$orange-palette:  #FFDDAA #FFAA64 #FF9339 #FF7604 #D36000 #A64B00 #804000;
$green-palette:   #EAF3EA #93CE98 #91BD91 #42CA73 #65B265 #69A169 #3FA056;

$primary-color: nth($green-palette, 4) !default;
$secondary-color: nth($grey-palette, 4) !default;

$primary-diff: palette-diff($green-palette);
$secondary-diff: palette-diff($grey-palette);
$primary-palette: create-palette($primary-color, $primary-diff);
$secondary-palette: create-palette($secondary-color, $secondary-diff);
// $primary-palette: create-palette(getRandomColor('hex'), $primary-diff);
// $secondary-palette: create-palette(getRandomColor('hex'), $secondary-diff);

$primary-lightest-color:    nth($primary-palette, 1);
$primary-lighter-color:     nth($primary-palette, 2);
$primary-light-color:       nth($primary-palette, 3);
$primary-medium-color:      nth($primary-palette, 4);
$primary-dark-color:        nth($primary-palette, 5);
$primary-darker-color:      nth($primary-palette, 6);
$primary-darkest-color:     nth($primary-palette, 7);

$secondary-lightest-color:  nth($secondary-palette, 1);
$secondary-lighter-color:   nth($secondary-palette, 2);
$secondary-light-color:     nth($secondary-palette, 3);
$secondary-medium-color:    nth($secondary-palette, 4);
$secondary-dark-color:      nth($secondary-palette, 5);
$secondary-darker-color:    nth($secondary-palette, 6);
$secondary-darkest-color:   nth($secondary-palette, 7);


// COLOR
$green-faded-active-light: $primary-lightest-color;
$green-faded-active-dark: $primary-light-color;
$green-active: $primary-medium-color;
$green-faded-active: $primary-dark-color;
$green-active-dark: $primary-darker-color;

$selection-color: $primary-lightest-color;

$body-background-color: $secondary-lighter-color;
$content-area-background-color: $secondary-lightest-color;
$navbar-background-color: $secondary-lightest-color;

$text-lightest-color: $secondary-lightest-color;
$text-light-color: $secondary-light-color;
$text-dark-color: $secondary-darker-color;
$text-darkest-color: $secondary-darkest-color;

$border-lighter-color: $secondary-lighter-color;
$border-light-color: $secondary-light-color;
$border-medium-color: $secondary-medium-color;

$logo-left: $primary-dark-color;
$logo-right: $primary-darkest-color;
$logo-top: $primary-lighter-color;

$nprogress-color: $primary-medium-color;