//---- NAVIGATION BARS ----//
$navbar-height: 52px;
$breadcrumb-height: 30px;
$alert-height: 50px;

//---- COLORS ----//
$green-active: #42CA73;
$green-active-dark: #69A169;
$green-faded-active: #97CC97;
$green-faded-active-light: #EAF3EA;
$green-faded-active-dark: #91BD91;

$selection-color: rgb(232, 243, 231);
$nprogress-color: $green-active;