<nav role="navigation">
    <div class="navbar navbar-default container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <logo></logo>
            </a>

            <div class="navbar-statistics">
                <span class="glyphicon glyphicon-stats"></span>
                <span class="label-statistic">
                    <ul class="texts">
                        <li>{{ statistics[0] }}</li>
                        <li>{{ statistics[1] }}</li>
                    </ul>
                </span>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href class="dropdown-toggle" data-toggle="dropdown">{{ currentUser.name }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="app.users.single.show({userId: currentUser.id})" href>View Profile</a></li>
                        <li><a ui-sref="app.projects.index" href>Manage Projects</a></li>
                        <li><a href>Account Settings</a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="session.logout" href><span class="glyphicon glyphicon-lock"></span> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>